.sidebar {
  background-color: var(--secondary-background-color);
  padding-top: 24px;
  min-width: 241px;
  max-width: 241px;
  width: 241px;
  height: calc(100vh - 90px);
  position: relative;
  user-select: none;

  &__line {
    width: calc(100% - 48px);
    margin: 8px 24px;
    height: 1px;
    background-color: var(--faded-background-color);
  }

  &__logo {
    padding: 0 24px;
    display: block;

    svg {
      color: var(--logo-color);
      height: 40px;
      max-width: 131px;
      width: 100%;
      margin-bottom: 18px;
    }
  }

  &__links,
  &__playlists,
  &__install {
    &__link {
      padding: 0 8px;
      color: var(--secondary-text-color);
      transition-duration: 0.2s;
      transition-property: color;
      transition-timing-function: linear;

      &:hover {
        color: var(--primary-text-color);
      }

      a {
        color: inherit;
        font-weight: 700;
        text-decoration: none;
        padding: 0 16px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;
        height: 40px;
        text-transform: capitalize;

        .icon,
        .default-icon,
        .active-icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .active-icon {
          display: none;
        }
      }

      &--active {
        a {
          background-color: var(--faded-background-color);
          color: var(--primary-text-color);

          .icon {
            display: none;
          }

          .active-icon {
            display: flex;
          }
        }
      }
    }
  }

  &__playlists {
    margin-top: 24px;

    &__link {
      color: var(--primary-text-color);
      opacity: 0.7;
      transition: opacity 0.2s linear;

      &--active {
        opacity: 1;
        a {
          background-color: transparent;
        }
      }
      a {
        .default-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          background: linear-gradient(135deg, #450af5, #c4efd9);
          border-radius: 1px;
        }
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &__install {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 5px;

    svg {
      padding: 2px;
    }
  }
}
