.sidebar {
  background-color: var(--secondary-background-color);
  padding-top: 24px;
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  width: var(--sidebar-width);
  height: calc(calc(100 * var(--vh)) - var(--playbar-height));
  max-height: calc(calc(100 * var(--vh)) - var(--playbar-height));
  position: relative;
  z-index: 5;
  user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: #6f6f70 transparent;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
  }

  &:hover {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 5px;
    }
  }

  &__line {
    width: calc(100% - 48px);
    margin: 8px 24px;
    height: 1px;
    background-color: var(--faded-background-color);
  }

  &__top {
    display: flex;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 18px;

    &__close {
      display: flex;
      align-items: center;
      cursor: pointer;
      display: none;

      &:hover,
      &:focus {
        svg {
          path {
            fill: var(--primary-text-color);
          }
        }
      }

      svg {
        path {
          fill: var(--secondary-text-color);
        }
      }
    }

    &__logo {
      display: block;
      width: 100%;

      svg {
        color: var(--logo-color);
        height: 40px;
        max-width: 131px;
        width: 100%;
      }
    }
  }

  &__links,
  &__playlists,
  &__install,
  &__upload {
    &__title {
      margin: 0 8px 5px;
      padding: 8px 16px;
      font-size: 12px;
      border-bottom: 1px solid var(--faded-background-color);
    }
    &__link {
      padding: 0 8px;
      color: var(--secondary-text-color);
      transition-duration: 0.2s;
      transition-property: color;
      transition-timing-function: linear;

      &:hover {
        color: var(--primary-text-color);

        .liked {
          opacity: 1;
        }
      }

      a {
        color: inherit;
        font-weight: 700;
        text-decoration: none;
        padding: 0 16px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;
        height: 40px;
        text-transform: capitalize;
        white-space: nowrap;

        .icon,
        .default-icon,
        .active-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;

          img {
          width: 24px;
          height: 24px;
          }
        }

        .liked {
          background: linear-gradient(135deg, #450af5, #c4efd9);
          border-radius: 1px;
          color: var(--primary-text-color);
          opacity: 0.7;
        }

        .active-icon {
          display: none;
        }
      }

      &--active {
        a {
          background-color: var(--faded-background-color);
          color: var(--primary-text-color);

          .icon {
            display: none;
          }

          .liked {
            opacity: 1;
          }

          .active-icon {
            display: flex;
          }
        }
      }
    }
  }

  &__links {
    // margin-bottom: 20px;
    margin-bottom: 0 !important;
  }

  // .mobile {
  //   display: none;
  // }

  // &__playlists {
  //   margin-top: 24px;

  //   &__link {
  //     color: var(--primary-text-color);
  //     opacity: 0.7;
  //     transition: opacity 0.2s linear;

  //     &--active {
  //       opacity: 1;
  //       a {
  //         background-color: transparent;
  //       }
  //     }
  //     a {
  //       .default-icon {
  //         display: flex;
  //         align-items: center;
  //         justify-content: center;
  //         width: 24px;
  //         height: 24px;
  //         background: linear-gradient(135deg, #450af5, #c4efd9);
  //         border-radius: 1px;
  //       }
  //     }

  //     &:hover {
  //       opacity: 1;
  //     }
  //   }
  // }

  &__upload {
    // border-top: 1px solid var(--faded-background-color);
    padding: 5px 0;
    margin-bottom: 0;
    // bottom: 40px !important
  }

  &__install {
    margin-bottom: 5px;

    svg {
      padding: 2px;
    }
  }

  &__bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100 * var(--vh));
    max-height: calc(100 * var(--vh));
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    &__top {
      &__close {
        display: flex;
      }
    }
  }

  .sidebar.active {
    transform: translateY(0);
  }
}
