.membership {
  padding: 32px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;

  &__plan {
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
    border-radius: 10px;
    border: 1px solid #fff;
    max-width: 300px;
    min-width: 300px;
    min-height: 350px;
    display: flex;
    flex-direction: column;

    p {
      color: var(--primary-text-color);
      display: block;
      margin-bottom: 10px;
    }

    &__title {
      border-bottom: 1px solid var(--faded-background-color);
      padding-bottom: 20px;
      h1 {
        color: var(--primary-text-color);
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2px;
      }
    }

    &__content {
      padding: 16px 0;
      margin-bottom: 20px;
      li {
        display: flex;
        align-items: center;
        svg {
          margin-right: 10px;
          polyline {
            stroke: var(--primary-text-color);
          }
        }
      }
    }

    button {
      display: block;
      margin-top: auto;
      background-color: var(--spotify-faded-color);
      border: 0;
      justify-self: flex-end;
      font-size: 13px;
      width: 100%;
      padding: 10px 15px;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: var(--spotify-bright-color);
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .membership {
    flex-direction: column;
    gap: 30px;

    &__plan {
      min-width: 500px;
      min-height: auto;
    }
  }
}

@media screen and (max-width: 800px) {
  .membership {
    padding: 16px;

    &__plan {
      min-width: 300px;
    }
  }
}

@media screen and (max-width: 300px) {
  .membership {
    &__plan {
      min-width: auto;
    }
  }
}
