.playbar {
  width: 100%;
  z-index: 4;
  min-width: 650px;
  height: var(--playbar-height);
  background-color: var(--playbar-background-color);
  border-top: 1px solid var(--faded-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: height 0.3s ease;
  overflow: hidden;

  .active {
    &::after {
      background-color: var(--spotify-faded-color);
      border-radius: 50%;
      content: '';
      display: block;
      height: 4px;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 4px;
    }

    path {
      fill: var(--spotify-faded-color);
    }

    &:hover {
      &::after {
        background-color: var(--spotify-bright-color);
      }

      path {
        fill: var(--spotify-bright-color);
      }
    }
  }

  &__desc {
    display: flex;
    max-width: 20%;
    min-width: 180px;
    width: 30%;
    user-select: none;

    a {
      color: inherit;
    }
    &__image-container {
      width: 56px;
      height: 56px;

      &__image {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
        padding-bottom: 100%;
        position: relative;
        img {
          border-radius: 4px 0 0 4px;
          display: block;
          width: 100%;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
        }

        svg {
          position: absolute;
          width: 24px;
          height: 24px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          path {
            fill: var(--primary-text-color);
          }
        }
      }
    }

    &__name {
      margin: 0 14px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p a:hover,
      span a:hover {
        color: var(--primary-text-color);
        text-decoration: underline;
      }

      p {
        margin: 0;
        font-weight: 500;
        text-transform: capitalize;
      }

      span {
        margin: 0;
        font-size: 10px;
        text-transform: capitalize;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--secondary-text-color);
      }
    }

    &__icon {
      display: flex;
      align-items: center;

      .a {
        path {
          fill: var(--secondary-text-color);
        }
        &:hover {
          path {
            fill: var(--primary-text-color);
          }
        }
      }

      .b {
        .b {
          fill: var(--spotify-faded-color);
        }
      }
    }
  }

  &__controls {
    max-width: 722px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

    &__buttons {
      display: flex;
      button {
        width: 32px;
        height: 32px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        margin: 2px;
        position: relative;

        path {
          fill: var(--secondary-text-color);
        }

        &:hover path {
          fill: var(--primary-text-color);
        }
      }

      .play {
        background-color: var(--primary-text-color);
        border-radius: 50%;

        .a {
          fill: none;
        }

        .b {
          fill: var(--secondary-background-color);
        }

        &:hover {
          transform: scale(1.06) !important;
        }

        &:hover path {
          fill: var(--secondary-background-color);
        }
      }

      .repeat {
        .a {
          fill: none;
        }
        .b {
          fill: var(--spotify-faded-color);
        }
      }
    }

    &__slider {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      span {
        text-align: center;
        font-size: 10px;
        color: var(--secondary-text-color);
        min-width: 40px;
      }

      .ant-slider {
        width: 100%;
      }
    }
  }

  &__extras {
    display: flex;
    align-items: center;
    user-select: none;
    button {
      background-color: transparent;
      border: none;
      color: var(--secondary-text-color);
      height: 32px;
      min-width: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      path {
        fill: var(--secondary-text-color);
      }

      &:hover path {
        fill: var(--primary-text-color);
      }
    }

    &__volume-bar {
      display: flex;
      align-items: center;
      // width: 100%;
      .ant-slider {
        width: 93px;
      }
    }
  }

  &__open-btn {
    user-select: none;
    width: 32px;
    height: 32px;
    display: none;
    button {
      cursor: pointer;
      border: none;
      border-radius: 50%;
      background-color: transparent;
      color: var(--primary-text-color);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-90deg);

      &:hover,
      &:active {
        background-color: var(--transparent-black-color-hover);
      }

      polyline {
        stroke: currentColor;
      }
    }
  }

  &__close-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 32px;
    height: 32px;
    display: none;
    button {
      cursor: pointer;
      border: none;
      border-radius: 50%;
      background-color: transparent;
      color: var(--primary-text-color);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(90deg);

      &:hover,
      &:active {
        background-color: var(--transparent-black-color-hover);
      }

      polyline {
        stroke: currentColor;
      }
    }
  }

  &__click-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
    z-index: -1;
  }
}

.playbar-container {
  &__box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .playbar {
    min-width: 230px;
    bottom: 65px;

    &__controls,
    &__extras {
      display: none;
    }

    &__desc {
      &__name {
        display: flex;
      }
    }

    &__open-btn,
    &__click-box {
      display: initial;
    }
  }
  .open {
    &.playbar-container .playbar-container__box {
      display: initial;
    }

    .playbar {
      height: 480px;
      flex-direction: column;
      justify-content: flex-end;
      padding: 16px;

      &__desc,
      &__controls,
      &__extras {
        display: flex;
        max-width: none;
        width: auto;
        margin: 10px;
      }

      &__desc {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin-bottom: 30px;

        &__image-container {
          width: 200px;
          height: 200px;
          margin-bottom: 30px;
        }

        &__name {
          margin: 0;
          max-width: 300px;
        }

        &__icon {
          display: none;
        }
      }

      &__controls {
        width: 100%;
      }

      &__extras {
        width: 100%;
        justify-content: right;
      }

      &__open-btn {
        display: none;
      }

      &__click-box {
        display: none;
      }

      &__close-btn {
        display: initial;
      }
    }
  }
}
