.five__container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  margin-left: 10px;
}

.five__container__content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  position: relative;
  width: 400px;
}

.five__container__content__container:hover .five__container__content__container__icon,
.five__container__content__container:hover .five__container__content__container__desc,
.five__container__content__container:active .five__container__content__container__icon,
.five__container__content__container:active .five__container__content__container__desc {
  background-color: var(--primary-text-color);
}

.five__container__content__container input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.596);
  cursor: pointer;
}

.five__container__content__container__icon {
  width: 40px;
  height: 40px;
  background-color: var(--secondary-text-color);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
}

.five__container__content__container__icon svg {
  display: none;
  width: 22px;
  height: 22px;
  fill: var(--spotify-faded-color);
}

.five__container__content__container__desc {
  background-color: var(--secondary-text-color);
  color: var(--primary-background-color);
  border-radius: 8px;
  padding: 10px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
  text-align: center;
}

.five__container__content__container__desc p {
  color: currentColor;
  margin-bottom: 0;
  font-weight: 500;
}

.add .five__container__content__container__icon {
  border-radius: 50%;
}

.add .five__container__content__container__icon svg {
  display: initial;
  fill: var(--primary-background-color);
  width: 20px;
  height: 20px;
}

.active .five__container__content__container__icon,
.active .five__container__content__container__desc {
  border-color: var(--spotify-faded-color);
  background-color: var(--primary-text-color);
}

.active .five__container__content__container__icon svg,
.active .five__container__content__container__desc svg {
  display: initial;
}

.five__container__lists {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.five__container__lists p {
  margin-bottom: 0;
}

.five__container__lists__container__title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px !important;
}

.five__container__lists__container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-left: 10px;
}

.five__container__lists__container__list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  opacity: 0.7;
}

.five__container__lists__container__list__container p {
  color: var(--primary-text-color);
}

.five__container__lists__container__list__container:hover {
  opacity: 1;
}

.five__container__lists__container__list__container__icon {
  color: #ff5c58;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .five__container__content {
    margin-left: 0;
  }
  .five__container__content__container {
    width: 100%;
    gap: 15px;
  }
  .five__container__content__container__icon {
    height: 45px;
    width: 45px;
  }
  .five__container__content__container__desc {
    height: auto;
    padding: 10px;
  }
}
/*# sourceMappingURL=index.css.map */