.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 16px 32px;
  -webkit-padding-end: 32px;
          padding-inline-end: 32px;
  position: absolute;
  width: calc(100vw - 241px);
  top: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__history button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--transparent-white-color);
  border: none;
  color: var(--primary-text-color);
  border-radius: 50%;
  margin-right: 16px;
  cursor: pointer;
}

.header__history button svg {
  height: 22px;
  opacity: 1;
  width: 22px;
  stroke-width: 1pt;
}

.header__history button svg polyline {
  stroke: currentColor;
}

.header__history .disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.header__profile {
  margin-left: auto;
  position: relative;
}

.header__profile button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 23px;
  border: none;
  padding: 2px;
  gap: 8px;
  height: 32px;
  background-color: var(--faded-background-color);
  -webkit-margin-start: 16px;
          margin-inline-start: 16px;
  cursor: pointer;
  color: var(--primary-text-color);
}

.header__profile button img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.header__profile button span {
  display: block;
  max-width: 110px;
  font-weight: 600;
  text-transform: capitalize;
}

.header__profile button svg {
  -webkit-margin-end: 6px;
          margin-inline-end: 6px;
}

.header__profile button svg path {
  fill: currentColor;
}

.ant-popover {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ant-popover-arrow {
  display: none;
}

.ant-popover-inner {
  -webkit-app-region: no-drag;
  background-color: var(--faded-background-color);
  border-radius: 4px;
  -webkit-box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
  max-height: calc(100vh - 24px);
  max-width: 350px;
  min-width: 160px;
  overflow-y: auto;
}

.ant-popover-inner-content {
  padding: 4px;
}

.ant-popover-inner-content ul {
  margin: 0;
}

.ant-popover-inner-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ant-popover-inner-content ul li:hover {
  background-color: var(--transparent-black-color);
  border-radius: 4px;
}

.ant-popover-inner-content ul li a,
.ant-popover-inner-content ul li span {
  padding: 12px;
  -webkit-padding-end: 8px;
          padding-inline-end: 8px;
  white-space: nowrap;
  background: transparent;
  border: 0;
  border-radius: 2px;
  cursor: default;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-text-color);
  font-size: 13px;
}
/*# sourceMappingURL=index.css.map */