header {
  position: relative;
  height: 60px;
  z-index: 2;

  .header {
    display: flex;
    padding: 16px 32px;
    padding-inline-end: 32px;
    width: calc(100vw - var(--sidebar-width));
    user-select: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;

    &__sidebar-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      cursor: pointer;
      display: none;

      &:hover,
      &:focus {
        svg {
          path {
            fill: var(--primary-text-color);
          }
        }
      }

      svg {
        path {
          fill: var(--secondary-text-color);
        }
      }
    }

    &__history {
      display: flex;
      align-items: center;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: var(--transparent-white-color);
        border: none;
        color: var(--primary-text-color);
        border-radius: 50%;
        margin-right: 16px;
        cursor: pointer;

        svg {
          height: 22px;
          opacity: 1;
          width: 22px;
          stroke-width: 1pt;

          polyline {
            stroke: currentColor;
          }
        }
      }

      .disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    &__search {
      position: relative;
      display: flex;
      align-items: center;
      flex: 0 1 354px;
      form {
        width: 100%;
        color: black;
        svg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10px;
          color: #121212;
        }
        input {
          border: none;
          border-radius: 500px;
          color: currentColor;
          height: 40px;
          font-weight: 500;
          font-size: 13px;
          width: 100%;
          padding: 6px 48px;
          outline: none;
        }
      }
    }

    &__profile {
      margin-left: auto;
      position: relative;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 23px;
        border: none;
        padding: 2px;
        gap: 8px;
        height: 32px;
        background-color: var(--transparent-white-color);
        margin-inline-start: 16px;
        cursor: pointer;
        color: var(--primary-text-color);

        &:hover {
          background-color: var(--faded-background-color);
        }

        img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
        }

        span {
          display: block;
          max-width: 110px;
          font-weight: 600;
          text-transform: capitalize;
        }
        svg {
          margin-inline-end: 6px;

          path {
            fill: currentColor;
          }
        }
      }
    }

    &__log {
      margin-left: auto;
      display: flex;
      align-items: center;
      button {
        border: 2px solid transparent;
        border-radius: 500px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        padding: 8px 34px;
        text-align: center;
        text-transform: uppercase;
        transition: all 33ms cubic-bezier(0.3, 0, 0, 1);
        white-space: nowrap;
        will-change: transform;

        &:hover {
          transform: scale(1.06);
        }
      }

      &__sign-up {
        background-color: transparent;
      }

      &__log-in {
        color: #000 !important;
      }
    }
  }
}

.ant-popover {
  user-select: none;
  &-arrow {
    display: none;
  }
  &-inner {
    -webkit-app-region: no-drag;
    background-color: var(--faded-background-color);
    border-radius: 4px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
    max-height: calc(100vh - 24px);
    max-width: 350px;
    min-width: 160px;
    overflow-y: auto;

    &-content {
      padding: 4px;

      ul {
        margin: 0;

        li {
          display: flex;
          align-items: center;
          &:hover {
            background-color: var(--transparent-black-color);
            border-radius: 4px;
          }

          a,
          span {
            padding: 12px;
            padding-inline-end: 8px;
            white-space: nowrap;
            background: transparent;
            border: 0;
            border-radius: 2px;
            cursor: default;
            text-decoration: none;
            text-transform: capitalize;
            color: var(--primary-text-color);
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  header {
    .header {
      &__profile {
        button {
          span {
            display: none;
          }
          svg {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  header {
    .header {
      width: 100vw;
      padding: 16px;

      &__sidebar-btn {
        display: flex;
      }

      &__history {
        button {
          width: 27px;
          height: 27px;
          svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    .header {
      &__log {
        button {
          font-size: 10px;
          padding: 5px 20px;
        }
      }
    }
  }
}
