.default__songs {
  grid-auto-rows: 0;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  overflow-y: hidden;
  grid-gap: 0 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.default__songs__song {
  background-color: var(--playbar-background-color);
  border-radius: 4px;
  padding: 16px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.default__songs__song__image-container {
  margin-bottom: 16px;
  position: relative;
}

.default__songs__song__image-container__image {
  border-radius: 4px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  padding-bottom: 100%;
  position: relative;
}

.default__songs__song__image-container__image img {
  border-radius: inherit;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.default__songs__song__image-container__image svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.default__songs__song__image-container__image svg path {
  fill: var(--secondary-text-color);
}

.default__songs__song__image-container button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  background-color: var(--spotify-faded-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}

.default__songs__song__image-container button:hover {
  -webkit-transform: translateY(0) scale(1.06) !important;
          transform: translateY(0) scale(1.06) !important;
}

.default__songs__song__image-container .active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  pointer-events: auto;
}

.default__songs__song__desc {
  min-height: 63px;
}

.default__songs__song__desc h3 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 24px;
  color: currentColor;
}

.default__songs__song__desc p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
  overflow: hidden;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
  color: var(--secondary-text-color);
}

.default__songs__song .link-container {
  position: relative;
}

.default__songs__song .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.default__songs__song:hover {
  background-color: var(--faded-background-color);
}

.default__songs__song:hover button {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.default__songs .artist .default__songs__song__image-container__image {
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .default__songs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100vw - 32px);
    scrollbar-width: none;
    overflow: scroll;
  }
  .default__songs__song {
    min-width: 30%;
  }
  .default__songs__song__desc {
    min-height: 45px;
  }
  .default__songs__song__desc h3 {
    font-size: 14px;
    margin-bottom: 3px;
  }
  .default__songs__song__desc p {
    font-size: 12px;
    margin-bottom: 0;
  }
  .default__songs__song button {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .default__songs__song {
    min-width: calc(51vw - 32px);
  }
}
/*# sourceMappingURL=index.css.map */