.home {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
}
.home__top-background {
  background-color: rgb(80, 40, 240);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%), var(--background-noise);
  height: 332px;
  margin-top: -60px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: background 1s ease;
  z-index: -1;
}
.home__section {
  grid-gap: 24px;
  display: grid;
  padding-top: 24px;
  padding: 24px 32px 32px;
}
.home__section__top-section {
  margin-bottom: 16px;
}
.home__section__top-section h2 {
  font-size: 32px;
  font-weight: 700;
  color: currentColor;
  margin-bottom: 16px;
}
.home__section__top-section__songs {
  display: grid;
  grid-auto-rows: auto;
  grid-template-rows: 1fr;
  grid-gap: 24px;
  row-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}
.home__section__top-section__songs__song {
  flex-grow: 0;
  flex-basis: 25%;
  position: relative;
  transition: all 0.3 ease;
  cursor: pointer;
}
.home__section__top-section__songs__song:hover .home__section__top-section__songs__song__desc {
  background-color: var(--transparent-black-color-hover);
}
.home__section__top-section__songs__song__desc {
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 80px;
  position: relative;
  transition: background-color 0.3s ease;
  background-color: var(--transparent-black-color);
}
.home__section__top-section__songs__song__desc__image-container {
  width: 80px;
  height: 80px;
  min-width: 80px;
}
.home__section__top-section__songs__song__desc__image-container__image {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  padding-bottom: 100%;
  position: relative;
}
.home__section__top-section__songs__song__desc__image-container__image img {
  border-radius: 4px 0 0 4px;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.home__section__top-section__songs__song__desc__image-container__image svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home__section__top-section__songs__song__desc__image-container__image svg path {
  fill: var(--primary-text-color);
}
.home__section__top-section__songs__song__desc p {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: capitalize;
  padding: 16px;
  white-space: normal;
  margin: 0;
  margin-right: 50px;
}
.home__section__top-section__songs__song button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  background-color: var(--spotify-faded-color);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.home__section__top-section__songs__song button:hover {
  transform: translateY(-50%) scale(1.06);
}
.home__section__top-section__songs__song .active {
  opacity: 1;
  pointer-events: auto;
}
.home__section__top-section__songs__song:hover button {
  opacity: 1;
  pointer-events: auto;
}
.home__section__default-section {
  margin-bottom: 16px;
}
.home__section__default-section.wrap {
  padding: 0 16px;
}
.home__section__default-section__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.home__section__default-section__title a:hover {
  text-decoration: underline;
}
.home__section__default-section__title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 28px;
  text-transform: none;
  color: currentColor;
  margin: 0;
}
.home__section__default-section__title span {
  margin-left: 8px;
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 16px;
}

@media screen and (max-width: 1767px) {
  .home__section__top-section__songs__song:nth-child(9), .home__section__top-section__songs__song:nth-child(10) {
    display: none;
  }
}
@media screen and (max-width: 1473px) {
  .home__section__top-section__songs__song:nth-child(8), .home__section__top-section__songs__song:nth-child(7) {
    display: none;
  }
}
@media screen and (max-width: 1179px) {
  .home__section__top-section__songs__song:nth-child(6), .home__section__top-section__songs__song:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .home__section {
    padding-left: 16px;
    padding-right: 16px;
  }
  .home__section__top-section h2 {
    font-size: 22px;
    font-weight: 600;
  }
  .home__section__default-section__title h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .home__section__default-section__title span {
    font-size: 10px;
  }
}
@media screen and (max-width: 500px) {
  .home__section__top-section__songs__song__desc p {
    margin-right: 0;
  }
  .home__section__top-section__songs__song button {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */