.profile {
  transform: translateY(-60px);
  min-height: calc(101% - 60px);
}
.profile__info {
  min-height: 340px;
  display: flex;
  align-items: flex-end;
  max-width: none;
  overflow: hidden;
  padding: 0 32px;
  padding-bottom: 24px;
  position: relative;
  color: var(--primary-text-color);
}
.profile__info__background, .profile__info__background-noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.profile__info__background {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.profile__info__background-noise {
  background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%), var(--background-noise);
}
.profile__info__desc {
  position: relative;
  margin-top: 100px;
}
.profile__info__desc__title {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.profile__info__desc__name {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.profile__info__desc__name__container {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-align: left;
  max-width: 80%;
  word-break: break-word;
  margin-right: 20px;
  margin-bottom: 20px;
}
.profile__info__desc__name__container h1 {
  margin: 0;
  font-size: 60px;
  line-height: 79px;
  visibility: visible;
  width: 100%;
  letter-spacing: -0.014em;
  text-align: left;
  word-break: break-word;
  color: currentColor;
  text-transform: capitalize;
}
.profile__info__desc__about {
  width: 60%;
}
.profile__info__desc__btns {
  display: flex;
  align-items: center;
}
.profile__info__desc__btns button {
  text-transform: capitalize;
  border: 0;
  color: var(--secondary-text-color);
  margin-top: 10px;
  border-radius: 50px;
  background-color: transparent;
  font-size: 12px;
  margin-right: 20px;
}
.profile__info__desc__btns__more {
  border-radius: 50% !important;
  padding: 0 !important;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__info__desc__btns__more svg path {
  fill: var(--primary-text-color);
}
.profile__background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%), var(--background-noise);
  height: 232px;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.profile__content {
  margin-top: 40px;
}
.profile__content .ant-tabs {
  color: var(--secondary-text-color);
}
.profile__content .ant-tabs-nav {
  padding: 0 32px;
}
.profile__content .ant-tabs-nav::before {
  border-bottom: 1px solid var(--transparent-black-color-hover);
}
.profile__content .ant-tabs-nav .ant-tabs-tab {
  font-size: 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.profile__content .ant-tabs-nav .ant-tabs-tab:hover {
  color: var(--primary-text-color);
}
.profile__content .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-btn:focus,
.profile__content .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-remove:focus,
.profile__content .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-btn:active,
.profile__content .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-remove:active {
  color: var(--primary-text-color);
}
.profile__content .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--primary-text-color) !important;
}
.profile__content .ant-tabs-ink-bar {
  background: var(--spotify-faded-color);
}

@media screen and (max-width: 800px) {
  .profile__info {
    padding: 0 16px 24px;
  }
  .profile__info__desc__title {
    margin-bottom: 20px;
  }
  .profile__info__desc__name__container {
    margin-right: 10px;
    max-width: calc(100% - 50px);
  }
  .profile__info__desc__name__container h1 {
    font-size: 40px;
    line-height: 47px;
  }
  .profile__info__desc__about {
    width: 100%;
  }
  .profile__info__desc__btns button {
    margin-right: 15px;
  }
  .profile__info__desc__btns__more {
    width: 30px;
    height: 30px;
  }
  .profile__info__desc__btns__more svg {
    width: 20px;
    height: 20px;
  }
  .profile__content {
    margin-top: 30px;
  }
  .profile__content .ant-tabs-nav {
    padding: 0 16px;
  }
  .profile__content .ant-tabs .ant-tabs-tab {
    font-size: 12px;
  }
  .profile__content .ant-tabs .ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 22px;
  }
}/*# sourceMappingURL=index.css.map */